.login-wrapper {
  padding: 10px;
}
.container-center {
  max-width: 400px;
  margin: 10% auto 0;
  padding: 20px;
}
.panel-bd, .panel-primary, .panel-success, .panel-info, .panel-warning, .panel-danger, .panel-inverse {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}
  .panel-bd > .panel-heading {
    color: #374767;
    background-color: #f4f9f3;
    border-color: #dedada;
    position: relative;
    padding: 10px;
  }

.view-header {
  margin: 10px 0;
}
  .view-header .header-icon {
    font-size: 60px;
    color: #336cfb;
    width: 68px;
    float: left;
    margin-top: -8px;
    line-height: 0;
  }
  .view-header .header-title {
    margin-left: 68px;
  }
.panel-body {
  padding: 15px;
  background-color:#fff;
}
.btn-primary {
  background-color: #336cfb;
  border-color: #336cfb;
}
